html{
    background-color: grey;
}
body{
    margin: auto;
    padding: 8px;
    padding-top: 60px;
    background-color: rgba(247, 247, 247, 0.881);
}

#accueil, #apropos, #projets, #competences, #realisations, #certifications, #contact {
    scroll-margin-top: 80px;
}

.navbar{
    background-color: rgb(141, 131, 229);
}

.card-body{
    padding: 1.5rem
}
.card{
    background-color: rgb(141, 131, 229);
}

a{
    font-style: italic;
    text-decoration-line: none;
}
.carousel-inner{
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.carousel-item img{
    width: 100px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.alert{
    margin: 10px;
    background-color: rgb(141, 131, 229);
}

footer{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(141, 131, 229);
    text-align: center;
}